#home {
  background-color: #5429cc;
  height: 200px;
  align-items: stretch;
  text-align: center;
}

table {
  width: 100%;
}

#title {
  color: #fff;
  text-align: left;
}

#CreateTransactionBtn {
  color: white;
  background-color: #6933ff;
  border: #6933ff;
  font-size: 25px;
}
#containerbalance {
  display: flex;
  align-items: stretch;
  font-size: 25px;
  text-align: center;
}

#entry {
  float: left;
  width: 100%;
  border: 1px solid black;
}

#exit {
  float: center;
  width: 100%;
  border: 1px solid black;
}
#balance {
  float: right;
  width: 100%;
  border: 1px solid black;
}

#info {
  font-size: 25px;
}

#info td {
  text-align: center;
}
