#home {
  background-color: #5429cc;
  height: 200px;
  align-items: stretch;
  text-align: center;
  position: absolute;
  top: 0%;
  right: 0%;
  left: 0%;
  padding-bottom: 2%;
  align-items: stretch;
}
#homewindow {
  margin-top: 20px;
  width: 92%;
  margin-left: 110px;
}

#window {
  position: absolute;
  top: 160px;
  left: 0;
  z-index: 1;
}



#title {
  color: #fff;
  text-align: left;
}



#CreateTransactionBtn {
  background-color: #6933ff;
  border: #6933ff;
  color: white;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
  float: right;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

#containerbalance {
  display: flex;
  align-items: stretch;
  font-size: 25px;
  text-align: center;
  margin-left: 90px;
  margin-right: 90px;
  width: 1800px;
}

#entry {
  float: left;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  background-color: white;
  height: 100%;
  text-align: left;
  padding-bottom: 12px;
  border-radius: 5px;
}

#entry p {
  font-size: 18px;
  margin-left: 20px;
  color: #969cb2;
}

#entry p img {
  font-size: 18px;
  float: right;
  margin-right: 20px;
  color: #969cb2;
}

#entry span {
  font-size: 40px;
  margin-left: 12px;
  font-weight: 400;
  word-wrap: break-word;
}

#exit {
  float: left;
  width: 100%;
  background-color: white;
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
  text-align: left;
  padding-bottom: 12px;
  border-radius: 5px;
}

#exit p {
  font-size: 18px;
  margin-left: 20px;
  color: #969cb2;
}

#exit p img {
  font-size: 18px;
  float: right;
  margin-right: 20px;
  color: #969cb2;
}

#exit span {
  font-size: 40px;
  margin-left: 12px;
  font-weight: 400;
  word-wrap: break-word;
}

#balance {
  float: left;
  width: 100%;
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
  text-align: left;
  padding-bottom: 12px;
  border-radius: 5px;

}

#balance p {
  font-size: 18px;
  margin-left: 20px;
}

#balance p img {
  font-size: 18px;
  float: right;
  margin-right: 20px;
  color: #969cb2;
}


#balance span {
  font-size: 40px;
  margin-left: 12px;
  font-weight: 400;
  word-wrap: break-word;
}

#info {
  position: absolute;
  font-size: 20px;
  margin-top: 160px;
  width: 1800px;
}

#info table{
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 98%;
  margin-left: 110px;
}

#info table tr th {
  text-align: left;
  font-size: 18px;
  color: #969cb2;
}

#info td {
  background-color: white;
  font-size: 20px;
  font-weight: 500;
  word-wrap: break-word;
  border-spacing: 3px;
  padding: 20px;
}


body {
  background-color: lightgray;
  font-family: Poppins;
}

.green-text {
  color: #33CC95;
}
.red-text {
  color: #E52E4D;
}
.normal-text {
  color: #969CB2;
}



.white-balance{
  background-color: #e4e4e4;
  color: black;
}
.white-balance p{
  background-color: #e4e4e4;
  color: #969cb2;
}

.green-balance {
  background-color: #33cc95;
  color: white;
}
.red-balance {
  background-color: #E52E4D;
  color: white;
}
